@import '../../../sass/mixins/alignment.scss';
@import '../../../sass/mixins/border.scss';
@import '../../../sass/mixins/utils.scss';

div.container {
    // @include Debug();
    min-height: 72px;
    @include Rectangle(100%, auto);
    @include GridCenter();
    color: #1F1F1F;

    & > div {
        min-height: 68px;
        width: 100%;
        color: #1F1F1F;
        margin-left: 20px;
        // @include Debug(yellow);

        & > div.title {
            color: #1F1F1F;
            // @include Debug(pink);
            @include Rectangle(100%, 68px);
            @include Flex(row, space-between);

            & > p {
                flex-basis: 90%;
                @include Square(100%);
                // @include Debug(aqua);
                text-align: left;
                font-size: 23px;
                color: #1F1F1F;
                // @include Flex(row, flex-start)
            }

            & > div.icon {
                flex-basis: 10%;
                // @include Debug(blue);
                width: 100%;
                height: 100%;
                @include GridCenter();
            }
        }

        & > div.body {
            color: #1F1F1F;
            transition: display 10s;
            // @include Debug(green);
            width: 100%;
            flex-direction: column;
            font-size: 23px;
            display: none;

            &.open {
                display: flex;
                // @include Debug(grey);
            }

            & > ul {
                // @include Debug();
                list-style-position: outside;

                & > li {
                    // @include Debug(aqua);
                    text-align: left;
                    margin-left: 20px;
                }
            }

            & > div.description {
                width: 100%;
                & > div {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    // @include Debug(blue);
                    width: 100%;
                    & > p {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }
}
