@import '../../sass/mixins/alignment.scss';
@import '../../sass/mixins/border.scss';
@import '../../sass/mixins/utils.scss';
@import '../../sass/constant/color.scss';

div.container {
    height: 4087px;
    @include GridCenter();

    & > div.body_container {
        height: 100%;
        // @include Debug(aqua);
        @include Flex(column, space-evenly);

        & > div.contract {
            width: 90%;
            height: 632px;
            // @include Debug(aqua);
            @include Flex(column, space-between);

            & > div.top {
                // @include Debug();
                @include Rectangle(100%, 82px);
                font-size: 38px;
                font-weight: 20px;
                width: 1100px;
                @include GridCenter();
            }

            & > div.cards {
                @include Rectangle(100%, 490px);
                height: 490px;
                // @include Debug(green);
                @include Flex();
                flex-wrap: wrap;

                & > * {
                    margin: 0  20px 0 20px;
                }
            }
        }

        & > div.power {
            // width: 90%;
            // margin-top: 50px;
            // @include Debug(yellow);

            div.power_container {
                @include Square(100%);
                // @include Debug();
                @include GridCenter();

                & > div.p_container {
                    width: 100%;
                    // @include Debug(green);
                    @include Flex(row, flex-start);

                    & > div {
                        margin-left: 100px;
                        @include Flex(column, space-between);
                        // @include Debug();
                        @include Rectangle(565px, auto);
                        color: white;

                        & > p {
                            width: 100%;
                            text-align: left;
                            // @include Debug(red);

                            &:first-child {
                                // @include Debug(yellow);
                                font-size: 50px;
                            }

                            &:nth-child(2) {
                                margin-top: 20px;
                                // @include Debug(white);
                                font-size: 22px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        & > div.top {
            // @include Rectangle(90%, 87px);
            // @include Debug(green);
            width: 90%;
            // margin-bottom: 50px;

            & > div.cards {
                @include Flex(row);
                // @include Debug(green);
                width: auto;

                & > div {
                    margin: 10px;
                    // @include Debug(gold)
                }
            }


            div.top_count {
                height: 87px;
                margin-bottom: 80px;
                // @include Debug(black);
                @include Flex(row, space-between);

                & > div {
                    // @include Debug(blue);
                    @include Rectangle(250px, 100%);
                    text-align: left;

                    & > div:first-child {
                        @include Rectangle(auto, 32px);
                        @include Flex(row, flex-start);
                        p {
                            color: $top-boxed-color;
                            padding: 5px;
                            border-radius: 10px;
                            border: 1px solid $top-boxed-border;
                        }
                    }

                    & > div:last-child {
                        font-size: 40px;
                    }
                }
            }
        }

        & > div.maximum {
            height: 368px;
            // margin-top: 100px;
            width: 90%;
            // @include Debug(yellow);
            @include Flex(row, space-between);

            & > div {
                flex-basis: 50%;
                @include Debug(blue);
            }

            & > div.right {
                @include GridCenter();
                @include Square(100%);
                // @include Debug(tomato);
                height: 100%;
                flex-basis: 60%;

                & > div.right_container {
                    // @include Debug(black);
                    @include Square(100%);
                    @include Flex(column, center, flex-start);

                    & > div {
                        width: 100%;
                        // @include Debug();

                        &:first-child {
                            word-break: keep-all;
                            width: 100%;
                            font-size: 40px;
                            & > p {
                                text-align: left;
                                span {
                                    display: block;
                                }
                            }
                        }

                        &:last-child {
                            margin-top: 20px;
                            color: $dol-text-description;
                            p {
                                text-align: left;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            & > div.left {
                @include Square(100%);
                & > div {
                    object-fit: fill;
                    @include Square(100%);
                }
            }
        }

        & > div.follow {
            // margin-top: 50px;
            // @include Debug(green);
            @include GridCenter();
        }

        & > div.percent {
            // margin-top: 50px;
            // @include Debug(yellow);

            div.percent_content {
                @include Square(100%);
                // @include Debug();
                @include GridCenter();

                & > div.p_container {
                    // @include Debug(green);
                    @include Rectangle(565px, 343px);
                    @include Flex(column, space-between);

                    & > div {
                        // @include Debug(blue);

                        &:first-child {
                            p {
                                color: #1F1F1F;
                                font-size: 90px;
                                font-weight: 30px;
                            }
                        }

                        &:nth-child(2) {
                            width: 100%;
                            p {
                                @include GridCenter();
                                height: 41px;
                                font-size: 45px;
                                width: 100%;
                                margin-bottom: 20px;
                            }
                        }

                        &:nth-child(3) {
                            p {
                                height: 24px;
                            }
                        }

                        &:last-child {
                            width: 100%;

                            button {
                                width: 260px;
                                height: 70px;
                                background-color: black;
                                color: white;
                                border-radius: 50px;
                                border: none;
                                font-size: 30px;

                                &:hover {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
