@import '../../../sass/mixins/alignment.scss';
@import '../../../sass/mixins/border.scss';
@import '../../../sass/mixins/utils.scss';
@import '../../../sass/constant/color.scss';

div.container {
    @include Rectangle(90%, 568px);
    @include Flex(column, space-between);
    @include Debug(blue);

    & > div.cards {
        @include Rectangle(100%, 490px);
        @include Debug();
        @include Flex(row, space-around);
        flex-wrap: wrap;

        // & > div {
        //     // margin-right: 40px;
        // }
    }

    & > div.top {
        @include Debug(rgb(2, 2, 2));
        height: 49px;
        font-size: 40px;
    }
}

