@import '../../../sass/mixins/alignment.scss';
@import '../../../sass/mixins/border.scss';
@import '../../../sass/mixins/utils.scss';
@import '../../../sass/constant/color.scss';

div.container {
    border-top: 1px solid blue;
    width: 90vw;
    border-radius: 60px;
    // height: 650px;
    @include Debug();
    background-size: 100% 100%;
}
