@import '../../../sass/mixins/alignment.scss';
@import '../../../sass/mixins/border.scss';
@import '../../../sass/mixins/utils.scss';
@import '../../../sass/constant/color.scss';

div.container {
    width: 90vw;
    border-radius: 60px;
    // @include Debug();
    background-size: 150% 140%;
    background-position: 30px;
}
