
@mixin ZeroSpace() {
    margin: 0;
    padding: 0;
}

@mixin Full() {
    width: 100%;
    height: 100%;
}

@mixin Rectangle($wid: 100%, $hig: 100%) {
    width: $wid;
    height: $hig;
}

@mixin Square($l: 100%) {
    width: $l;
    height: $l;
}

@mixin Circle($l: 100%) {
    width: $l;
    height: $l;
    border-radius: 100%;
}

@mixin BgNCol($bg: white, $col: black) {
    background-color: $bg;
    color: $col;
}
