@import '../../sass/mixins/alignment.scss';
@import '../../sass/mixins/border.scss';
@import '../../sass/mixins/utils.scss';
@import '../../sass/constant/color.scss';

div.container {
    height: 96px;
    @include Rectangle(100vw, 96px);
    @include GridCenter();
    background-color: transparent;
    color: white;

    & > div.nav_container {
        @include Rectangle(1360px, 45px);
        // @include Debug(green);
        @include Flex(row, space-between);

        & > div {
            flex-basis: 50%;
        }

        & > div.left {
            @include Flex(row, flex-start);
            img {

            }
        }

        & > div.right {
            & > div.right_container {
                @include Flex(row, flex-end);

                & > * {
                    font-size: 20px;
                    margin-right: 15px;
                    // @include Debug(green);
                }

                & > div {
                    button {
                        font-size: 20px;
                        @include BgNCol(white, black);
                        @include Rectangle(118px, 42px);
                        border: none;
                        border-radius: 20px;

                        &:hover {
                            @include BgNCol(black, white);
                        }
                    }
                }
            }
        }
    }
}
