$text-col-black: var(--text-col-black, black);
$text-col-white: var(--text-col-black, white);
$header-bg-invert-color: var(--header-bg-invert-color, #FFFFFF);
$footer-bg-color: var(--text-bg-col, #F1F1F1);
$footer-bot-color: var(--text-bot-col, #888888);
