$text-col-black: var(--text-col-black, black);
$text-col-white: var(--text-col-black, white);
$header-bg-invert-color: var(--header-bg-invert-color, #FFFFFF);
$footer-bg-color: var(--text-bg-col, #F1F1F1);
$footer-bot-color: var(--text-bot-col, #888888);
$body-follow-card-bg-color: var(--body-follow-card-bg-color, #F9F9F9);
$body-follow-card-color: var(--body-follow-card-color, #7F7F7F);
$body-follow-card-hover-bg-color: var(--body-follow-card-hover-bg-color, #F2F2F2);
$dol-text-description: var(--dol-text-description, #565656);
